body {
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #111;
}

ul {
    list-style-type: none;
}

a {
    color: #747474;
    text-decoration: none;
}

h2 {
    color: #eaeaea;;
}

.container {
    width: max-content;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 10vh;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #111111;
    margin-bottom: 20px;
}

.logo {
    width: max-content;
}

.logo__img {
    height: 7vh;
}


/* ----------------------------------------
   -----Гамбургер и Модальное окно -------- 
   ---------------------------------------- */

.hamburger {
    /* position: fixed;
    top: 20px;
    left: 20px; */
    z-index: 9;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.hamburger span {
    height: 4px;
    background: #dadada;
    border-radius: 2px;
    display: block;
    width: 100%;
    transition: transform 0.4s ease, opacity 0.4s ease, background 0.3s;
    transition: 0.3s;
}

/* Анимация при активном состоянии */
.hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Модальное окно */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(17 17 17);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 7;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    /* width: 310px; */
    margin: 0 auto;
}

/* Активное состояние */
.modal.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    height: 100%;
}

/* Контент внутри */
.modal-content {
    max-height: 100vh;
    height: 100%;
    overflow-y: auto;
    padding-top: 80px;
}

/* Кнопка закрытия */
.close-btn {
    /* position: relative; */
    top: 18px;
    left: 10px;
    font-size: 50px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    padding-inline: 0;
    margin-top: 19px;
    margin-bottom: 20px;
}

body.modal-open {
    overflow: hidden;
}

/* ---------------- End ------------------- */


/* ----------------------------------------
   ------------ Радио кнопки -------------- 
   ---------------------------------------- */

.radio-battons {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
}

.btn {
    background: #222;
    border: 2px solid #444;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    position: relative;
    overflow: hidden; /* чтобы псевдоэлемент не вылезал */
    transition: background 0.1s ease;
    padding: 12px 24px;
}

.btn.active {
    background: #ff6600;
}

/* Светло-оранжевая анимация поверх */
.btn.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--eqHeight, 0%);
  background: rgb(255, 145, 0);
  transition: height 0.05s linear;
  z-index: 0;
}

.btn span {
  position: relative;
  text-align: center;
  z-index: 1;

}

/* ---------------- End ------------------- */


/* ----------------------------------------
   -------- Регулятор громкости ----------- 
   ---------------------------------------- */

.volume-control input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: #444;
    outline: none;
    margin-top: 15px;
    margin-left: 0px;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ff6600;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-top: -1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.volume-control input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ff6600;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.volume-control input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #ff6600;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ---------------- End ------------------- */


/* ----------------------------------------
   -------------- Эквалайзер -------------- 
   ---------------------------------------- */

.equalizer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    /* padding-top: 40px; */
    padding-bottom: 15px;
}

.equalizer-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 50px;
    position: relative;
}

/* Ползунки эквалайзера */

.band {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    writing-mode: vertical-lr;
    width: 0px;
}

.band label {
    margin-top: 0px;
    font-size: 9px;
    writing-mode: initial;
    color: #989898;
}

.band input[type="range"] {
    writing-mode: bt-lr;
    direction: rtl;
    width: 4px;
    -webkit-appearance: none;
    appearance: none;
    /* width: 100%;
    height: 4px;
    */
    background: #444;
    outline: none;
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.band input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*appearance: none;
    */
    width: 14px;
    height: 14px;
    background: #ff8c00;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-top: -1px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.band input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ff8c00;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.band input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #ff6600;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* Кнопки сохранения и сброса настроек */

.equalizer-buttons {
    margin-top: 20px;
}

.equalizer-container button {
    width: 140px;
    height: 40px;
    font-size: initial;
    background-color: #002e36;
    color: #ffffff;
    border: 0;
    margin-right: 1px;
    border-radius: 2px;
}

.equalizer-container button:active {
    background-color: #0094ae;
}

#reset-eq-settings {
    background-color: #4c3200;
    color: #ffffff;
    margin-left: 1px;
}

#reset-eq-settings:active {
    background-color: #7c5200;
}

/* Сообщение о сохранении или сбросе настроек эквалайзера */

#eq-message {
    color: #ff8c00;
    text-align: center;
    font-size: 13px;
    transition: opacity 0.5s ease;
    padding-bottom: 40px;
}

/* ---------------- End ------------------- */

/* ----------------------------------------
   ---------------- Футер ----------------- 
   ---------------------------------------- */

.footer {
    color: #747474;
    text-align: center;
    margin-top: 50px;
    position: relative;
}

/* кнопка DONATE */

.donate-btn {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #444444;
    background-color: #ff6600;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.donate-btn:hover {
    background-color: #ff9100;
}
.donate-btn:active {
    background-color: #0094ae;
}

/* выпадающий список */
.donate-dropdown {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    height: 100px;
    display: none;
    color: #ffffff;
    font-size: larger;
}

.donate-dropdown.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-dropdown p {
    margin: 0;
}

/* ----------------------------------------
   ----------- Страница пароля ------------ 
   ---------------------------------------- */

#password-protect {
    position: fixed;
    inset: 0;
    background: #000000ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    opacity: 1;
    backdrop-filter: blur(8px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

#password-protect.hidden {
    opacity: 0;
    transform: scale(1.05);
    pointer-events: none;
}

#password-protect h1 {
    font-size: xx-large;
    color: rgb(255, 145, 0);
    margin-bottom: 10px;
}

#password-protect input {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    width: 260px;
    text-align: center;
    background-color: #fffffd;
}

#password-protect button {
    padding: 10px 109px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background:#d85600;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#password-protect button:hover {
    background: #a34100;
}

#wrong-pass, #attempts-left, #locked {
    margin-top: 10px;
    font-size: 16px;
    display: none;
}

#locked {
    color: #ff5050;
}

/* ---------------- End ------------------- */



